@model MVCAspDotNet.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2> Employee Details</h2>
<table>
    <tr>
        <td>Employee id:</td>
        <td>@Model.EmployeeID</td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>City:</td>
        <td>@Model.City</td>
    </tr>
</table>

